.pagesUl {
    display: flex;
}
.pageNumber {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: gray;
    margin: 5px;
    cursor: pointer
}
.selectedPage {
    font-weight: bold;
    color: red;
}
.pageNumberContainer {
    display: flex;
    width: 200px;
    margin: 0 auto;
}