.nav__container { 
  grid-area: n;
  background-color: black;
  min-width: 150px;
}

.nav {
  position: fixed;
}
.nav__item {
  list-style: none;
  position: fixed;
}

.nav__ul__item__link{
  color:white;
  text-decoration: none;
}

.nav__ul__item__link_active {
  color:gold
}